@font-face {
    font-family: 'Font1';
    src: url("/fonts/Letters\ for\ Learners.ttf");
 }
 @font-face {
    font-family: 'Font2';
    src: url("/fonts/KGBlankSpaceSolid.ttf");
 }
html {
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
}
body {
background: linear-gradient(#F2F6EB,#E5FFB1);
background-size: 100% 100%;
min-width: 100%;
min-height: 100%;
align-items: center;
justify-content: center;
display: flex;
}
.main {
display: flex;
place-content: center;
height: 100%;
width: 100%;
}
.login {
display: flex;
flex-direction: column;
width: 80%;
text-align: center;
}
.headerRegister{
font-size: 0.8em;
font-family: 'Font2';

}


/*Mobile first Vista Registro */
.containerRegister {
    font-family: 'Font1';
    flex-direction: column;
    width: 80%;
    height: 100%;
    display: flex;
    place-items: center;
    text-align: center;
    place-content: center;
}
.h4Register {
width: 100%;
margin: 2%;
font-family: 'Font1';
font-size: 20px;
}
.Inputcontainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 80%;
  place-items: center;
}

.input {
width: 100%;
height: 2em;
border-radius: 0.7em;
box-shadow: 3px 3px 2px rgb(32, 32, 32);
}

.buttonRegister {
box-shadow: 3px 3px 4px black;
width: auto;
height: auto;
border-radius: 2em;
padding-left: 30px;
padding-right:30px ;
padding-top:10px ;
padding-bottom:10px ;
background-color: #D09080;
font-size: 85%;
color: #57403A;
font-weight: bolder;
border-color: transparent;
margin: 10px;
font-family: 'Font2';
letter-spacing: 2px;
}
.buttonRegister:hover {
background-color: #57403A;
color: #D09080;
}
#continue {
margin-top: 5%;
}
 
#or {
margin-top: 0%;
margin-bottom: 0%;
}
/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 768px) {
.headerRegister{
        margin-bottom: 0px;
        }
.containerRegister {
    flex-direction: row;
    display: flex;
 }
 .input {
    width: 70%;
    height: 2em;
}
.h4Register {
font-size: 1.3em;
margin: 5px;
width: 70%;
}
.buttonRegister {
    width: auto;
    height: 1.8em;
    margin: 7px;
    border-radius: 0.6em;
    font-size: 0.9em;
    padding-top:0px ;
    padding-bottom:0px ;
    }
    
    
    


}


/*Mobile first Vista inicio */
/*homepege*/
body{ 
    background-image: url(img/pared.jpg);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;}

    

   .containerimg{
    display: flex;
    justify-content:center ;

   }
   #homeplant{
    border-radius: 100px;
    max-width: 40%;
    
    
   }
  .homewelcome{
    text-align: center;
  }
  .hometittle{
    text-align: center;
  }

  .registrationButton, .loginButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D09080;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre los botones */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
    height: 35px;
    width: 355px;
  }

  .registrationButton:hover, .loginButton:hover {
    background-color: #faa66a;
  }
  .words{
    margin-top: 30px;
  }
  .wordsHome{
    text-align: center;
    
  }

  .homepage{
    background-color: rgba(188, 232, 188, 0.5); 
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 30px;
  }
  .orderbuttons{
    margin-top: 70px;
}
  /*ESCRITORIO*/
            @media(min-width :768px) and (max-width:2328px){
                body{
                    background-image: url(img/pared.jpg);
                    background-repeat: repeat;
                    background-attachment: fixed;
                    margin: 0;
                    padding: 0;
                }
                .homepage{
                    background-color: rgba(188, 232, 188, 0.5); 
                    padding: 90px; 
                    margin: 20px;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(156, 158, 156, 0.346), 0 0 20px rgba(135, 136, 135, 0.5), 0 0 30px rgba(0, 255, 0, 0.203); 
                }
                .containerimg #homeplant {
                    margin-right: 20px;
                    transition: transform 0.3s; 
                }
                
                
                .containerimg #homeplant:hover {
                    transform: rotate(30deg); 
                }
                .orderbuttons{
                    margin-top: 30px;
                }
                .homepage {
                    display: flex; 
                    background-color: rgba(188, 232, 188, 0.5);
                    padding: 10px; 
                    border-radius: 10px;
                }
                
                /* Estilos para la imagen a la izquierda */
                .containerimg {
                    max-width: 100%;
                    max-height: 100px;
                    margin-right: 0px; /* Espacio entre la imagen y el contenido a la derecha */
                    margin-top: 150px;
                   
                }
                
                /* Estilos para el contenido a la derecha */
                .content {
                    flex: 2; 
                    margin-top: 100px;
                    margin-right: 50px;
                }
                #homeplant{
                    height: 300px;
                    width: 700px;
                    border-radius: 600px;
                }
                
            
            }