@font-face {
    font-family: 'Font1';
    src: url("/fonts/letter1.ttf") format('truetype');;
}

@font-face {
    font-family: 'Font2';
    src: url("/fonts/KGBlankSpaceSolid.ttf") format('truetype');;
}

html {
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

body {
    background: linear-gradient(#F2F6EB, #E5FFB1);
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main {
    display: flex;
    place-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.login {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.headerRegister {
    font-size: 0.8em;
    font-family: 'Font2';
    width: 80%;
    text-align: center;

}


/*MOBILE FIRST VISTA REGISTRO */


.h4Register {
    width: 100%;
    margin: 2%;
    font-family: 'Font1';
    font-size: 20px;
}

.Inputcontainer {
    
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 80%;
    place-items: center;
    margin-top: 2%;
}

.input {
    width: 100%;
    height: 2em;
    border-radius: 0.7em;
    box-shadow: 3px 3px 2px rgb(32, 32, 32);
}

.buttonRegister {
    box-shadow: 3px 3px 4px black;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.3s;
    background-color: #D09080;
    color: #57403A;
    font-size: 85%;
    border-color: transparent;
    margin: 10px;
    font-family: 'Font2';
    letter-spacing: 2px;
}

.buttonRegister:hover {
    background-color: #57403A;
    color: #D09080;
}
.googleLoginBtn {
    border-radius: 2em;
    box-shadow: 3px 3px 4px black;
    width: 30%;
    margin-bottom: 10%;
}

#continue {
    margin-top: 5%;
}

#or {
    font-family: 'Font1';
    margin-top: 0%;
    margin-bottom: 0%;
}

.googleLoginBtn{
border-radius: 5px;
box-shadow: 3px 3px 4px black;
border: 1px solid #000;
margin-top: 1em;

}

/*MOBILE FIRST VISTA PRINCIPAL*/
.containerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#homeplant {
    width: 80%;
}

.homewelcome, .hometittle, .words{
    font-family: 'Font1';
    font-size: 25px;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
}

.hometittle {
    font-size: 40px;
    font-family: 'Font2';
}

.registrationButton,
.loginButton {
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #D09080;
    color: #57403A;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    /* Espacio entre los botones */
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-around;
    height: auto;
    width: auto;
    font-family: 'Font2';
}
.registrationButton:hover,
.loginButton:hover {
    background-color: #57403A;
    color: #D09080;
}
.words {
    font-size: 25px;
   
}
.wordsHome {
    text-align: center;

}

.orderbuttons {
    font-family: 'Font1';
    font-size: 25px;
    place-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.homepage {
    box-shadow: 0 0 10px rgba(156, 158, 156, 0.346), 0 0 20px rgba(135, 136, 135, 0.5), 0 0 30px rgba(0, 255, 0, 0.203);
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 10px;
    gap: 2em;
    padding-top: 6em;
    padding-bottom: 6em
    
}
.content {
display: flex;
text-align: center;
flex-direction: column;
place-content: center;
width: 90%;
}


/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 920px) {
   /*VISTA PRINCIPAL*/
   .homepage {
    flex-direction: row;
    padding-left: 0%;
    padding-right: 0%;
    width: 90%;
    height: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
    }

.homewelcome, .hometittle, .words{
font-size: 25px;
margin: 10px;
}

.hometittle {
font-size: 50px;
}
.containerimg #homeplant {
    display: flex;
    transition: transform 0.3s;
}

.containerimg #homeplant:hover {
    transform: rotate(10deg);
}
.orderbuttons {
margin-top: 30px;
}
/*ESTILO DE LA VISTA DE REGISTO*/
.containerimg {
    width: 30%;}
.content {
width: auto;
}
    .headerRegister {
       padding-left: 5em;
       justify-content: center;
       align-items: center;
       width: 50%;
       padding-left: 5em;
       display: flex;
       flex-direction: column;
       text-align: center;    
    }

    .input {
        width: 80%;
        height: 2em;
        margin-bottom: 1em;
    }

    .h4Register {
        font-size: 1.6em;
        margin: 5px;
        width: 80%;
    }

    .buttonRegister {
        width: auto;
        height: 1.8em;
        margin: 7px;
        border-radius: 0.6em;
        font-size: 0.9em;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    

.Inputcontainer{
padding-right: 4em;
margin-top: 0%;
}
.googleLoginBtn{
    border-radius: 0.6em;
    }
    

 
}
